<section class="my-lg-14 my-8">
  <div class="container">
    <button [routerLink]="'/'" type="button" class="btn btn-success">
      Back home
    </button>
    @for(product of products$ | async; track product.id) {
    <p>{{ product.title }}</p>
    <p>{{ product.price | currency }}</p>
    <button class="btn btn-danger" (click)="onRemovedButtonClicked(product)">
      <i class="bi bi-basket"></i> Remove from cart
    </button>
    }
    <p class="m-3">total value: {{ totalValue$ | async | currency }}</p>
    <button class="btn btn-info m-3" (click)="onSendButtonClicked()">
      <i class="bi bi-basket"></i> Send basket
    </button>
    <button class="btn btn-info" (click)="onSaveButtonClicked()">
      <i class="bi bi-basket"></i> Save basket
    </button>
  </div>
</section>
